
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: rgb(0,0,0);
	overflow: hidden;
	
}
li {
	float: left;
	position: relative;
	
}
li a:link {
	display: block;
	color: white;
	padding: 20px;
	text-decoration: none;
}
li a:visited {
	color: white;
}
li a:hover {
	background-color: rgb(38,70,83);
	color: black;
}
li a.active {
	background-color: rgb(138,177,125);
	color: black;
}
#header {
	height: 650px;
	width: 1335px;
	z-index: 2;
	position: relative;
}
h1 {
	position: absolute;
	color: #FFFFF0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 70px;
	z-index: 3;
	border: solid white 2px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	font-family: sans-serif;
}
#head1 {
	color: #00a572;
	padding-top: 40px;
	text-align: center; 
	margin-left: 125px;
	margin-right: 125px;
	padding-left: 200px;
	padding-right: 200px;
	font-family: monospace;
	font-size: 28px;
}
#description {
	font-family: verdana;
	text-align: left; 
	margin-left: 125px;
	margin-right: 125px;
	padding-left: 50px;
	font-size: 17px;
	z-index: 4;
}
#head2 {
	color: #00a572;
	padding-top: 40px;
	text-align: center; 
	margin-left: 125px;
	margin-right: 125px;
	padding-left: 200px;
	padding-right: 200px;
	font-family: monospace;
	font-size: 28px;
}
#head3 {
	color: #00a572;
	text-align: center; 
	margin-left: 125px;
	margin-right: 125px;
	padding-left: 200px;
	padding-right: 200px;
	font-family: monospace;
	font-size: 28px;
}
#donation {
font-family: verdana;
	text-align: left; 
	margin-left: 125px;
	margin-right: 125px;
	padding-left: 50px;
	font-size: 17px;
	z-index: 4;
}
#projects {
	font-family: verdana;
	text-align: left; 
	margin-left: 125px;
	margin-right: 125px;
	padding-left: 50px;
	padding-bottom: 50px;
	font-size: 17px;
	z-index: 5;
}
#subpage {
	height: 390px;
	width: 200px;
	margin-left: 125px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	background-color: #9dc183;
	position: relative;
}
#subpage2 {
	height: 390px;
	width: 200px;
	margin-left: 20px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	background-color: #9dc183;
	position: relative;
}
#subpage3 {
	height: 390px;
	width: 200px;
	margin-left: 20px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	background-color: #9dc183;
	position: relative;
}
#subpage4 {
	height: 390px;
	width: 200px;
	margin-left: 20px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	background-color: #9dc183;
	position: relative;
}
#donate {
	text-align: center;
	font-family: verdana;
}
input:focus {
	background-color: #353543;
	color: white;
}
.sprite {
	background: url('../images/icon1.jpg') no-repeat -24px -8px;
	width: 120px;
	height: 120px;
	transform: scale(0.5);
	display: inline-block;
}
.sprite1 {
	background: url('../images/icon1.jpg') no-repeat -160px -7px;
	width: 120px;
	height: 121px;
	transform: scale(0.5);
	display: inline-block;
}
.sprite2 {
	background: url('../images/icon1.jpg') no-repeat -304px -8px;
	width: 112px;
	height: 120px;
	transform: scale(0.5);
	display: inline-block;
}
footer {
	margin-top: 100px;
	background-color: #000000;
	text-align: center;
}

